a {
    color: white;
}

.t-g {
    color: gray;
}

.imgsz {
    max-height: 50px;
}

.bx {
    height: 500px;
    background-color: blue;

}

.bx-sm {
    height: 500px;
    background-color: red;

}
.bg-header {
    background-color: #212529;
}

