a {
    color: white;
}

.t-g {
    color: gray;
}

.imgsz {
    max-height: 50px;
}

.bx {
    height: 500px;
    background-color: blue;

}

.border-icon {
    border: 2px solid black;
    padding: 2px;
    border-radius: 3px;
}

.bx-sm {
    height: 500px;
    background-color: red;

}
.bg-header {
    background-color: #212529;
}

